#numbers {
    background-color: blue;
    display: grid;
    justify-items: stretch;
    padding: 20px;
    margin: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 50px 50px 50px;
}

.block-keyboard_item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
} 

.active {
    background: orange;
}

/* красивое расширение кнопки плюс */
/* .icon-btn {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
  }

  .add-btn:hover {
    width: 100px;
    cursor: pointer;
  }
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 8px;
    top: calc(50% - 2px);
    background: blue;
  }
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
    outline: none;
  }
  .btn-txt {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  .add-icon::after,
  .add-icon::before {
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: blue;
    overflow: hidden;
  }
  .add-icon::before {
    left: 12px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .add-icon::after {
    right: 12px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  } */