.wrap{
	width:480px;
	margin:50px auto 0;
  font-family:    
  "Helvetica Neue", Arial, sans-serif;
  color:#241f1f;
}

.calc {
  width:480px;
  text-align: center;
  height: auto;
  padding: 10px 0;
  margin: auto;
  background: #f2f2f2;
  border: #010 1px solid; 
  border-radius: 30px;
  overflow: hidden;
  }

h1 {
  font-size: 1.2em;
  color: 
}

.screen {
  width: 90%;
  height: 80px;
  margin: 12px auto 30px;
  padding: 10px 20px;
  color:#0d0d0d;
	text-align: right;
	font-size: 3em;
  letter-spacing: 3px;
	overflow:hidden;
	border:#000 1px solid;
	border-radius:40px;
  box-sizing:border-box;
}

.buttons {
padding: 0px;
  width: 95%;
  margin: 0 7%;
  overflow: hidden;
  }

.buttons div {
display: inline;
  float: left;
  padding: 0px;
  margin-right: 13px;
  margin-bottom: 10px;
}

.val {
  display: block;
  width: 90px;
  padding: 10px 0 5px;
  color: #7a7a7a;
  font-family: "Myriad Pro", Arial, sans-serif;
  font-size: 1.5em;
  background-color:#ede8e8;
  border: #000 1px solid;
  text-decoration: none;
  cursor: pointer;
}

.val:active {
  box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
			background-image:linear-gradient(top, #2f2f2f 0%, #363636 100%);
}

.first-line {
  height: 30px;
  border-radius: 50px;
}

.numbers {
  padding-top: 33px !important;
  border-radius: 50px;
  text-align: center; 
  height: 50px;
}

.equal {
  padding-top: 33px !important;
  height: 150px !important;
  border-radius: 50px;
  text-align: center;
}

.wide {
  width: 200px !important;
    border-radius: 50px;
    height: 28px !important;
  padding: 30px 0;
}

.shift {
  margin-top: -100px
}

.point {
  margin-left: -3px;
}

